<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Pedir Caronas</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
  <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<nav class="navbar navbar-expand-lg py-3 fs-5 text-center">
  <div class="container-fluid">
    <a class="navbar-brand fs-3 p-3" th:href="@{/}">RideUFF | </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" th:href="@{/home}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/sobre}">Sobre</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
             aria-expanded="false">
            Opções do Usuário
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" th:href="@{/atualizar-cadastro}">Ver Perfil</a>
            </li>
            <li>
              <a class="dropdown-item active" th:href="@{/pedir-carona}">Pedir Carona</a>
            </li>
            <li>
              <a class="dropdown-item" th:href="@{/oferecer-carona}">Oferecer Carona</a>
            </li>
            <li>
              <a class="dropdown-item" th:href="@{/listar-caronas}">Listar Caronas</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/logout}">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<header>
  <div class="container-fluid">
    <div class="card profile text-start">
      <h1 class="text-center py-3">Pedir Carona</h1>
    </div>
  </div>
</header>
<main class="container text-center">
  <form id="pedidoCaronaForm" class="row g-3" th:action="@{/pedir-carona}" method="post">
    <div class="col-md-6">
      <label for="localPartida" class="form-label">Local de Partida:</label>
      <input type="text" class="form-control" list="opcoesPartida" id="localPartida" name="localPartida" required />
      <datalist id="opcoesPartida">
        <option value="Campus Praia Vermelha UFF"></option>
        <option value="Campus Gragoata UFF"></option>
        <option value="Shopping Plaza"></option>
        <option value="Terminal Rodoviário Niteroi"></option>
      </datalist>
    </div>
    <div class="col-md-6">
      <label for="localDestino" class="form-label">Local de Destino:</label>
      <input type="text" class="form-control" id="localDestino" list="opcoesDestino" name="localDestino" required />
      <datalist id="opcoesDestino">
        <option value="Campus Praia Vermelha UFF"></option>
        <option value="Campus Gragoata UFF"></option>
        <option value="Shopping Plaza"></option>
        <option value="Terminal Rodoviário Niteroi"></option>
      </datalist>
    </div>
    <div class="col-md-6">
      <label for="qtdPassageiros" class="form-label">Quantidade de Passageiros (máx. 4):</label>
      <input type="number" class="form-control" id="qtdPassageiros" name="qtdPassageiros" required max="4" />
    </div>
    <div class="col-md-6">
      <label for="tipoEmbarque" class="form-label">Tipo de Embarque:</label>
      <select id="tipoEmbarque" class="form-select" name="tipoEmbarque" required>
        <option value="">Selecione...</option>
        <option value="imediato">Embarque Imediato</option>
        <option value="agendado">Embarque Agendado</option>
      </select>
    </div>
    <div class="col-md-6 d-none" id="dataViagemContainer">
      <label for="dataViagem" class="form-label">Data da Viagem:</label>
      <input type="date" class="form-control" id="dataViagem" name="dataViagem" />
    </div>
    <div class="col-md-6 d-none" id="horaViagemContainer">
      <label for="horaViagem" class="form-label">Hora da Viagem:</label>
      <input type="time" class="form-control" id="horaViagem" name="horaViagem" step="60">
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-form">Buscar Carona</button>
    </div>
  </form>
  <div class="container-map">
    <div class="mapouter">
      <div class="gmap_canvas">
        <iframe width="820" height="560" id="gmap_canvas"
                src="https://maps.google.com/maps?q=ic+uff&t=&z=13&ie=UTF8&iwloc=&output=embed"
                frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        <a href="https://www.analarmclock.com/">online alarm clock</a><br>
        <a href="https://timenowin.net/"></a><br>
      </div>
    </div>
  </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script src="/js/pedirCarona.js"></script>
</body>
</html>
